<div>
    <form>
        <div>
            <label>Name of the person</label>
            <select id="empName">
                <option>SELECT</option>
            </select>
        </div>
        <div>
            <label for="date">Date</label>
            <input type="date" name="date"/>
        </div>
        <div>
            <label for="status">Status</label>
            <select name="status" id="status">
                <option value="">Work from Office</option>
                <option value="">Work from home</option>
                <option value="">Planned Leave</option>
                <option value="">Unplanned Leave</option>
                <option value="">Sick Leave</option>
                <option value="">Casual Leave</option>
            </select>
        </div>
    </form>
</div>