.gradient-form {
    flex: 1; /* Makes this section flexible to occupy available space */
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content vertically and horizontally */
    background-color: #eee; /* Background color for the section */
  }
  
  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: auto; /* Set height to auto for larger screens */
    }
  
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
  
  .card {
    border-radius: 3rem; /* For rounded corners on all sides */
    overflow: hidden; /* Ensure content doesn't overflow the rounded corners */
    margin-bottom: 4rem;
  }
  
  .text-center {
    margin-bottom: 1.5rem; /* Add some space below the heading */
  }
  
  /* Add some responsive styles */
  @media (max-width: 576px) {
    .gradient-custom-2 {
      border-radius: 0; /* Remove border radius on small screens */
    }
  
    .card {
      margin: 1rem; /* Add some margin for small screens */
    }
  }