/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f8f9fa 0%, #dee2e6 100%);
}